<div class="container">
    @for (int i = this.GameBoard.Height - 1; i >= 0; i--)
    {
        <div class="row">
        @for (int j = 0; j < this.GameBoard.Width; j++)
        {
            <Cell Type="@GameBoard[j,i]" X="@j" Y="@i" onClick="HandleClick"/>
        }
        </div>
    }
</div>

@code {
    [Parameter]
    public GameBoard GameBoard { get; set; }

    private void HandleClick(int x, int y)
    {
        Console.WriteLine($"Clicked {x} {y}");
    }
}